@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.first-section{
    background-color: #1f2937;
}

#header-logo{
    font-size: 24px;
    color: #f9FAF8;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header-link{
    font-size: 18px;
    color:#f9FAF8;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display:flex;
    flex-direction: row;
}

.navbar-left,.navbar-right{
    display: flex;
    width:50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    color: #f9FAF8;
    font-weight: bolder;

}

.content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:50px;
}


.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    
}

img{
    margin:50px;
    width: 600px;
}

.content-left{
    display:flex;
    flex-direction: column;
    width:50%;
    margin-left:250px;
}

.p-first{
    margin-left:10px;
}
.sign-up-button{
    background-color:#3882f6;
    color:white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3882f6;
    width:90px;
    margin-left:10px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #0b0b0a;
    text-align: center;
}


.rows-of-blue-divs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blue-box{
    border: 1px solid #7475c3;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 50px;
}

.p-second{
    text-align: center;
    max-width: 250px;
    margin-left: 35px;
}

.third-section{
    background-color: #e5e7eb;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-section{
    height:50vh;
}

h3{
    font-size:36px;
    color:#1f2937;
    font-style: italic;
    font-weight:300;
    text-align: center;
}

.p-third{
    font-size: 18px;
    color: #1f2937;
    text-align: center;
    margin: 10px;
}

#p-div{
    display: flex;
    margin-left: 1250px;;
}

.last-section{
    height:50vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.blue-container{
    background-color: #3882f6;
    width:65%;
    height: 25%;
    display: flex;
    flex-direction: row;
    border-radius: 13px; 
}

.left{
    width: 80%;
    display: flex;
    margin-left: 100px;
    justify-content: center;
    
    flex-direction: column;
}

h4{
    font-size: 24px;
    color: #f9FAF8;
    font-weight: bolder;

}

.last-p{
    font-size: 15px;
    color: #f9FAF8;
    margin-top: 3px;
}

.right{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.last-button{
    background-color: #3882f6;
    color: #fcfcfc;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    width:120px;
    font-size: medium;
}

.footer{
    background-color: #1f2937;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f9FAF8;
}